{% extends 'layout/middle_box_dynamic_margin.html' %}

{% block middle_box %}
    <div class="login-form-container">
        <img src="/static/user.svg" class="login-form-profile-icon">
        <form class="login-form" method="post" action="/register">
            <input class="form-input-1" type="text" name="username" placeholder="Username">
            <input class="form-input-1" type="email" name="email" placeholder="Email">
            <input class="form-input-1" type="password" name="password" placeholder="Password">
            <input class="form-input-1" type="password" name="check_password" placeholder="Check Password">
            <input class="login-form-submit" type="submit" value="Register">
        </form>
        <span class="under-form-text"><a href="/login">I already have an account</a></span>
    </div>
{% endblock %}