{% extends "layout/middle_box_dynamic_margin.html" %}

{% block middle_box %}
    <div class="enter-code-container">
        <form class="enter-code-form" action="/room/create" method="post">
            <input class="form-input-1" type="text" maxlength="8" placeholder="Room Code" name="room_code">
            <input class="form-input-1" type="password" placeholder="Password (If none leave blank)" name="room_password">
            <input class="login-form-submit" type="submit" value="Create Room">
        </form>
    </div>
{% endblock %}